.topbar {
  background-color: #282c34;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 5vh);
  grid-gap: 0.5rem;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 90%;;
}

.left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.logo {
  height: 5vmin;
}

.search-box {
  width: 30vw;
  height: 1.2rem;
  border-radius: 2px;
  padding-left: 0.5rem;
}

.icon {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  display: flex;
}

.topbar-text {
  font-size: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  display: flex;
  align-items: center;
}

.right-bordered {
  border-right: 1px solid rgba(255, 255, 255, 0.25);
}
